a {
    text-decoration: none;
}

.carousel {
    background-color: #f8e3b1;
    padding: 60px 0px;
    width: 100%;
}

.carousel h2 {
    padding: 50px;
    font-size: 45px;
    line-height: 20px;
    text-transform: none;
    font-weight: 600px;
    text-align: center;
    color: #000000;
}

.carrusel-lista {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: -25px;
    left: 0px;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 210px;
    height: 210px;
    margin: 30px 20px;

}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 60px;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carrusel img {
    object-fit: cover;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media(min-width:768px) {
    .carrusel {
        width: 275px;
    }

    .carrusel a img {
        width: 250px;
    }

    .carousel h2 {
        font-size: 50px;
        line-height: 60px;
    }
    .carrusel-arrow {
        border-radius: 30px;
        background-color: #ffffff7e;
        position: absolute;
        z-index: 4;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }

    .carrusel-arrow:focus {
        outline: 0;
    }

    .carrusel-arrow svg {
        width: 12px;
        height: 100%;
        color: rgba(0, 0, 0, 0.7);
    }

    .carrusel-prev {
        left: 0px;
    }

    .carrusel-next {
        right: 0px;
    }

}